.custom-button {
  width: auto !important;
  float: left !important;
  padding: 0 1rem !important;
}

.loading-right {
  width: auto !important;
  float: left !important;
  padding: 0 1rem !important;
}

.menu-bar {
  height: 300px;
  width: 150px;
  background-color: #1b1b1b;
  text-align: center;
  position: fixed;
  display: none;
  border-radius: 2rem;
}

.menu-item {
  cursor: pointer;

  color: #fff;
  margin: 0px;
  padding: 0px;
}
.menu-item:hover {
  background-color: #323232;
}

.active-item {
  background-color: #494949;
}
